:host {
  $labelColors: (
          default: text-gray-500,
          primary: text-primary-500,
          secondary: text-secondary-500,
          accent: text-accent-500,
          neutral: text-neutral-500,
          danger: text-danger-500,
          success: text-success-500,
          warning: text-warning-500,
          info: text-info-500,
          disabled: text-gray-400 cursor-not-allowed
  );

  $radioColors: (
          default: gray-500,
          primary: primary-500,
          secondary: secondary-500,
          accent: accent-500,
          neutral: neutral-500,
          danger: danger-500,
          success: success-500,
          warning: warning-500,
          info: info-500
  );

  // Mixin para aplicar estilos comunes a los labels
  @mixin labelStyle($color) {
    @apply text-base #{$color};
  }

  // Mixin para aplicar estilos comunes a los radios
  @mixin radioStyle($borderColor) {
    &::before {
      @apply border-#{$borderColor};
    }

    &.status-checked {
      &::before {
        @apply border-2;
      }

      &::after {
        @apply bg-#{$borderColor};
      }
    }
  }

  // Placeholder para estilos base de los radios
  %radioBase {
    @apply w-4 h-4 bg-white rounded relative appearance-none;

    &::before {
      content: '';
      @apply absolute bg-white border inset-0 w-4 h-4 rounded-full transition-transform;
    }

    &::after {
      content: '';
      @apply absolute inset-0 left-1 top-1 w-2 h-2 bg-white rounded-full transition-transform;
    }
  }

  label {
    @include labelStyle(text-dark); // Estilo por defecto

    @each $color, $value in $labelColors {
      &.label-#{$color} {
        @include labelStyle($value);
      }
    }
  }

  input[type="radio"] {
    @extend %radioBase; // Estilos base de los radios

    @each $color, $value in $radioColors {
      &.radio-#{$color} {
        @include radioStyle($value);
      }
    }

    &:disabled {
      &::before {
        @apply border-gray-50 bg-gray-50 cursor-not-allowed;
      }
    }
  }
}
