:host {
  /* Common Label Styles */
  label {
    @apply block text-base text-dark;
  }

  /* Checkbox Base Styles */
  input[type="checkbox"] {
    @apply w-4 h-4 bg-white rounded relative appearance-none;

    &::before, &::after {
      content: '';
      @apply absolute inset-0 w-4 h-4 bg-transparent rounded transition-transform;
    }

    &::before {
      @apply border;
    }
  }

  /* Label and Checkbox Variants */
  /* Note: Using a loop here would be even cleaner if your preprocessor supports it */
  $variants: default gray-500, primary primary-500, secondary secondary-500,
  accent accent-500, neutral neutral-500, danger danger-500,
  success success-500, warning warning-500, info info-500;

  @each $variant, $color in $variants {
    label.label-#{$variant} {
      @apply text-#{$color};
    }

    input[type="checkbox"].checkbox-#{$variant} {
      &::after {
        @apply border-#{$color} checked:bg-#{$color};
      }

      &::before {
        @apply border-#{$color};
      }
    }
  }

  /* Checkbox: Checked State (Common) */
  input[type="checkbox"]:checked {
    /* Mostrar el SVG */
    &::after {
      content: ''; /* Restablecer el content para evitar conflictos */
      background-size: 75%;
      @apply block w-full h-full bg-no-repeat bg-center;
      background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="%23ffffff" d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg>');
    }
  }

  /* Disabled State (Common) */
  input[type="checkbox"]:disabled {
    @apply bg-gray-50 cursor-not-allowed;

    &::before {
      @apply border-gray-200;
    }
  }

  label.label-disabled {
    @apply text-gray-400 cursor-not-allowed;
  }
}
